node_modules/
dist/
*adminsdk*.json
*service-account*.json
*.js.map
.ts-node-cache/
.env
.env.local
.env.*.local
*.tsbuildinfo
coverage/
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log
storage.rules.debug.log
